@page "/"

<h1>Hello welcome to ReqResponse Blazor Test Client</h1>

<p>
    This application is use to Test to server using xml sockets
    requests keep the sql database updated.
</p>
<p>
    This applications has Local Request, Remote Requests to server which
    open connections and closes and Connected which uses same connection
    and stream.
</p>

<p>
    DataLayor and Service layor is seperate dlls:
</p>
<p>
    ---ReqResponse              - Services layer
</p>
<p>
    ---ReqResponse.Blazor       - Blazor User Interface layer
</p>
<p>
    ---ReqResponse.Middleware   - Middleware layer
</p>
<p>
    ---ReqResponse.DataLayer    - Data service layer
</p>
<p>
    ---ReqResponse.Server      - xml network server
</p>
<p>
    ---ReqResponse.Test         - NUnit test dll
</p>
<p>
    Also available:
</p>
<p>
    ---ReqResponse.WPF          - WPF User Interface layor
</p>

<p>
    The idea of this test is provided a way to test external devices
    though some communication type which in this case is network and
    simulated with simple service to add, subtract, multiple and divide
    but easy could be replace with actual physical device.
</p>

<p>
    This project has been updated with .Net 5
</p>


